*{
    margin: 0;
}
body{
    font-family: "SF Pro", Arial, Helvetica, sans-serif;
    background-color: #222;
    color: white;
}
h2{
    margin-bottom: 1rem;
}
h3{
    font-size: 1em;
}
header{
    display: flex;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}
section{
    width: 100%;
    padding: 1em;
}
.cardContainer{
    display: flex;
    gap: .5em;
    width: 100%;
    flex-wrap: wrap;
}
.itemCard{
    position: relative;
    display: flex;
    height: 12em;
    flex-basis: 35%;
    flex-grow: 1;
    width: 8em;
    border-radius: .5rem;
    background-color: lightgray;
    overflow: hidden;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);


}
.itemCard img{
    display: block;
    justify-content: center;
    height: 100%;
}
.itemCardInfo {
    position: absolute;
    bottom: 0;                 /* sticks it to the bottom */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);  /* semi-transparent black background */
    color: white;
    padding: 0.5em;
    text-align: center;
    box-sizing: border-box;
}
.itemCardInfo h3,p{
    margin: 0;
    font-weight: 500;
}
.itemCardInfo p{
    font-size: .5em;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    /* CSS rules for screens that are 768px wide or narrower */
    main {
        /* Adjust layout: for example, switch from a row layout to a column layout */
        flex-direction: column;
    }
}